<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.todolist" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tarefinhas"
        android:label="Tarefinhas"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Tarefinhas" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Tarefinhas" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadUsuarioActivity"
            android:label="Cadastro" >
        </activity>
        <activity
            android:name=".ListUsuariosActivity"
            android:label="Lista de Usuários" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"></meta-data>
        </activity>
    </application>

</manifest>
